/* Default style for larger screens */
body {
    max-width: 100ch;
    margin: 0 auto; /* Optional: centers the layout on desktop */

    font-family: 'Computer Modern Serif', serif;
    font-size: 17px;
}

/* Style for phones (screens smaller than 768px) */
@media (max-width: 768px) {
    body {
        max-width: 100%;
        padding: 0 1rem; /* Optional: adds a little breathing room on the edges */
    }
}

figure img, img.figure, img.small_figure {
    width: auto;
    height: auto;
    display: block;
    margin: 2em auto;
    max-width: 90%;
    max-height: 250px;
}

figcaption {
    margin: auto;
    margin-top: -1.5em;
    margin-bottom: 2em;
    width: 95%;
    text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid #000;   /* solid line */
  margin: 2rem 0;               /* spacing above/below */
  width: 100%;                  /* exactly the container/text width */
}